body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    color: #333;
}

.list {
 height: 500px;
  width: 950px;
  overflow-y: scroll;
  overflow-x: hidden; /* Remove o scroll horizontal */

}


.container   
 {
 display: grid;
  grid-template-rows: auto 1fr; /* A primeira linha tem altura automática, a segunda ocupa o restante */
  height: 400px;
    text-align: center;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    margin-right: 10px;
}

h1 {
    color: #4CAF50; /* Verde */
    text-align: center;
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 7px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;   

    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;   
}

p {
  font-family: Georgia, serif;
  font-size: 20px;
  color: #666;
  text-align: center;
  text-align: justify; /* Alinha o texto de forma justificada */

}

